<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tenndr:Be Tenndr With Yourself</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="./style.css" />
    <style>
      body {
        margin: 50px 100px;
        background-color: rgb(2, 76, 2);
        color: white;
      }
      .row {
        margin: 0 auto;
        width: 20%;
      }
      h1 {
        margin: center;
        text-align: center;
        font-size: 35px;
      }
      form, a, button{
        margin-top: 3px;
      }
      button, a, input {
        text-decoration-style: none;
        color: white;
        text-shadow: .1em .1em .0em black;
    
    }
    </style>
  </head>

  <body>
    <div class="logo-container">
      <img src="/img/tenndr_logo.png" alt="logo" height="100px" width="200px"/>
    </div>
  <img class="hero" src="img/hero_index.png" alt="hero" height="60%" width="100%"/>
  <div class="index-container">
    <h1>Be Tenndr With Yourself</h1>
    <button class ="waves-effect amber waves-light btn"><a href="/sessions/new"><span class="white-text darken-3">Sign-In</span></a></button>
    <button class ="waves-effect amber waves-light btn"><a href="/users/new"><span class="white-text darken-3">Sign Up</a></span></button>
  </div>
  
  

    


    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>


    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>

    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>


    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>